@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Стилевые решения</h1>
        <div class="h2">Цвет фона</div>
        <div class="h3">Используем классы bootstrap</div>
        <div class="bg-danger">bg-danger</div>
        <div class="bg-dark text-light">bg-dark</div>
        <div class="bg-info">bg-info</div>
        <div class="bg-light">bg-light</div>
        <div class="bg-primary">bg-primary</div>
        <div class="bg-secondary">bg-secondary</div>
        <div class="bg-success">bg-success</div>
        <div class="bg-transparent">bg-transparent</div>
        <div class="bg-warning">bg-warning</div>
        <div class="bg-white">bg-white</div>

        <div class="h2">Цвет текста</div>
        <div class="h3">Используем классы bootstrap</div>
        <div class="text-black-50">text-black-50</div>
        <div class="text-body">text-body</div>
        <div class="text-break">text-break</div>
        <div class="text-capitalize">text-capitalize</div>
        <div class="text-danger">text-danger</div>
        <div class="text-dark">text-dark</div>
        <div class="text-decoration-none">text-decoration-none</div>
        <div class="text-hide">text-hide</div>
        <div class="text-info">text-info</div>
        <div class="text-light bg-dark">text-light</div>
        <div class="text-lowercase">text-lowercase</div>
        <div class="text-monospace">text-monospace</div>
        <div class="text-muted">text-muted</div>
        <div class="text-nowrap">text-nowrap</div>
        <div class="text-primary">text-primary</div>
        <div class="text-reset">text-reset</div>
        <div class="text-secondary">text-secondary</div>
        <div class="text-success">text-success</div>
        <div class="text-truncate">text-truncate</div>
        <div class="text-uppercase">text-uppercase</div>
        <div class="text-warning">text-warning</div>
        <div class="text-white bg-dark">text-white</div>
        <div class="text-white-50 bg-dark">text-white-50</div>
        <div class="text-wrap">text-wrap</div>

        <div class="h2">Выравнивание текста</div>
        <div class="h3">Используем классы bootstrap</div>
        <div class="text-center">text-center</div>
        <div class="text-justify">text-justify</div>
        <div class="text-left">text-left</div>
        <div class="text-right">text-right</div>

        <div class="h2">Стили текста</div>
        <div class="h3">Используем классы bootstrap</div>
        <p class="font-weight-bold">Жирный текст. font-weight-bold</p>
        <p class="font-weight-normal">Нормальный текст. font-weight-normal</p>
        <p class="font-weight-light">Легкий текст. font-weight-light</p>
        <p class="font-italic">Курсивный текст. font-italic</p>

        <div class="h2">Размер текста. Комплексный вид текста</div>
        <div class="h3">Используем классы bootstrap</div>
        <p class="display-1">display-1</p>
        <p class="display-2">display-2</p>
        <p class="display-3">display-3</p>
        <p class="display-4">display-4</p>
        <p class="h1">h1</p>
        <p class="h2">h2</p>
        <p class="h3">h3</p>
        <p class="h4">h4</p>
        <p class="h5">h5</p>
        <p class="h6">h6</p>
        <div class="h3">Используем параметр css font-size</div>
        <p style="font-size:inherit;">font-size:inherit;</p>
        <p style="font-size:initial;">font-size:initial;</p>
        <p style="font-size:large;">font-size:large;</p>
        <p style="font-size:larger;">font-size:larger;</p>
        <p style="font-size:medium;">font-size:medium;</p>
        <p style="font-size:small;">font-size:small;</p>
        <p style="font-size:smaller;">font-size:smaller;</p>
        <p style="font-size:unset;">font-size:unset;</p>
        <p style="font-size:x-large;">font-size:x-large;</p>
        <p style="font-size:x-small;">font-size:x-small;</p>
        <p style="font-size:xx-large;">font-size:xx-large;</p>
        <p style="font-size:xx-small;">font-size:xx-small;</p>
        <p style="font-size: 200%;">font-size:200%;</p>
        <p style="font-size: 10em;">font-size:10em;</p>
        <p style="font-size: 10ex;">font-size:10ex;</p>
        <p style="font-size: 10pt;">font-size:10pt;</p>
        <p style="font-size: 10px;">font-size:10px;</p>

        <div class="h2">Работа с изображением.</div>
        <div>Отзеркаливание изображения: transform: scaleX(-1)</div>
        <img src="~/images/Кавычка левая.jpg" />
        <img src="~/images/Кавычка левая.jpg" style="transform: scaleX(-1);"/>
    </div>
