<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HttpServiceBaseEndPoint" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="ServiceBaseEndPoint">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:7255/ServiceBaseContact"
                binding="netTcpBinding" bindingConfiguration="ServiceBaseEndPoint"
                contract="ContractServiceReference.IServiceBaseContract"
                name="ServiceBaseEndPoint">
                <identity>
                    <userPrincipalName value="Богданов@eurotest.local" />
                </identity>
            </endpoint>
            <!--<endpoint address="http://localhost:7256/ServiceBaseContact"
                binding="basicHttpBinding" bindingConfiguration="HttpServiceBaseEndPoint"
                contract="ServiceReferenceCodeAnalyzer.IServiceBaseContract"
                name="HttpServiceBaseEndPoint" />-->
        </client>
    </system.serviceModel>
</configuration>